@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    font-family: "Open Sans", sans-serif;
}
nav{
    grid-area: navbar;
    background-color: rgb(50,50,50);
    padding: 0.5%;
    padding-left: 3%;
}
.icon {
    background-color: orange;
    border-radius: 25%;
    color: white;
    padding: 1%;
    width: 5%;
    height: 5%;
    float: right;
}

li:last-of-type {
    margin-left: auto;
    margin-bottom: 0%;
}
html,body{
    margin: 0%;
}
.top{
    grid-area: header;
    background-color: rgb(43,141,194);
    padding-left: 2%;
}
.news-box{
    grid-area: news;
    border: 1px solid #c5c5c5;
    margin-top: 2%;
    margin-right: 10%;
    margin-left: 5%;
    margin-bottom: 0%;
    background-color: #f5f5f5;
    padding:0%;
}
.news-box:hover{
    background-color: rgba(43,141,194,0.5);
    color: white;
}
.news-box>header{
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 5%;
}
.news-box>.bullets{
    padding: 0%;
    margin: 0%;
}
.news-box>.bullets>ul>li{
    list-style-type: "- ";
}
.blog{
    grid-area: article;
    margin: 5%;
    margin-top: 1%;
}
.logo{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: white;
}
nav ul{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 2%;
    align-items: center;
    flex-flow: wrap;
}
nav>ul>li>a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 80%;
    color: white;
}
nav>ul>li>a:hover{
    color: rgba(255, 255, 255, 0.7);
}
.container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "navbar"
                         "news"
                         "article";
}